#guild-discovery {
    height: 100vh;
    /* background: url("../imgs/902881.jpg");
    background-size: cover; */
    /* filter: blur(8px); */
    /* opacity: .3; */
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-image: url("../imgs/bg-op.png"); */
    background-image: url("../imgs/rs-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#guild-discovery .page-header {
    height: 100px;
}

#guild-discovery .page-body {
    padding: 30px;
}

#guild-discovery .page-body h2 {
    text-align: center;
    color: var(--text-main-color);
}
#guild-discovery .page-body .search {
    background-color: var(--main-background-chat-area);
    box-sizing: unset;
    position: relative;
    margin-top: 30px;
    border-radius: 5px;
}

#guild-discovery #search-chanels {
    background-color: var(--main-background-chat-area);
    border: 1px solid #333;
    outline: none;
    height: 45px;
    padding: 0 16px 0 16px;
    box-sizing: unset;
    border-radius: 5px;
    box-sizing: border-box !important;
    font-size: 16px;
    width: 100%;
    font-family: var(--font-family-sans-serif);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

#guild-discovery #search-chanels:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: var(--main-background-color);
}
#guild-discovery .search {
    text-align: center;
    width: 700px;
    margin: 0 auto; 
}

#guild-discovery .search button {
    background-color: transparent;
    position: absolute;
    border: none;
    top: 0;
    right: 2px;
    height: 100%;
    cursor: pointer;
    padding: 0 10px
}

.page-body section h3 {
    color: var(--text-main-color);
    transition: opacity .5s ease;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 68px;
    margin-bottom: 16px;
}

.guild-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    grid-gap: 12px;
}

.guild-list .guild-card {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    width: 256px;
    min-height: 304px;
    overflow: hidden;
    border-radius: 8px;
    /* position: relative; */
    transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out;
    cursor: pointer;
    background: #18191c;
}

.guild-list .guild-card:hover {
    background-color: #202225;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6);
    transform: scale(1.01)
}
.guild-list .guild-card:hover .card-button button {
    opacity: 1;
}
.guild-list .guild-card:hover .card-header {
    
}
.guild-list .guild-card:hover .description {
    
}

.guild-card .card-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 144px;
    flex: 0 0 144px;
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 2px solid #000;
}

.guild-card .card-header .card-img {
    width: 256px;
    height: 144px;
    object-fit: cover;
}

.guild-card .card-header .card-icon {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 50px;
    height: 50px;
    border-radius: 13px;
}
.guild-card .card-header .card-button button{
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: opacity .2s;
    color: var(--text-main-color);
    /* background: var(--item-chat-receiver); */
    background-color: #7289da;
    padding: 2px 12px;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    opacity: 0;
}

.guild-info {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-content: stretch;
    padding: 0 16px 16px;
}
.guild-info .description {
    color: #b9bbbe;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 18px 0 16px;
    font-size: 12px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.guild-info .title {
    position: absolute;
    top: -9px;
}
.guild-info .title span {
    font-weight: 600;
    color: var(--text-main-color);
}

.guild-info .member-info {
    display: flex;   
}
.guild-info .member-count {
    font-size: 0.75rem;
    line-height: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    margin-right: 16px;
    color: var(--text-main-color);
    display: flex;
}
.guild-info .dot-online {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #43b581;
}