.layout-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    text-align: left;
    display: none;
}
.layout-modal.active {
    display: block;
}
.layout-modal .modal {
    width: 540px;
    position: fixed;
    top: calc(50% - 270px);
    left: calc(50% - 270px);
    z-index: 9999;
    background: #0a0a0c;
    padding: 20px 30px 10px 30px;
    border-radius: 3px;
}
.layout-modal.active .modal {
    animation: scale-modal .6s linear;
}

.layout-modal .modal-body {
    
}
.layout-modal .modal-header h5 {
    color: #7289da;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 12px 0;
}
.layout-modal .modal-header p {
    color: #99aab5;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 14px;
    text-align: center;
}

.layout-modal .madal-body-main {
    display: flex;

}
.layout-modal .modal-body label {
    color: #87909c;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-align: left;
}
.layout-modal .modal-body .post-title {
    margin-bottom: 12px;
}
.layout-modal .modal-body input {
    color: #2f3136;
    background: transparent;
    border-bottom-color: #f0f0f0;
    font-weight: 500;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-style: solid;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    height: 40px;
    resize: none;
    outline: none;
    transition: .6s;
}

.layout-modal .modal-body input:focus {
    border-bottom-color: #3ca374;
}

.layout-modal .container-photo {
    margin-left: auto;
}
.layout-modal .container-photo button {
    transition: .4s;
    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0,89,153,0);
    box-shadow: 0 0 0 0 rgba(0,149,255,0);
    position: relative;
}
.layout-modal .container-photo button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0C0D0E;
    opacity: .4;
}
.layout-modal .container-photo button:hover::after {
    content: "CHANGE AVATAR";
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    top: calc(50% - 7px);
    left: 12%;
}
.layout-modal .container-photo img.chanel-photo-background {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.layout-modal .container-photo button {
    
}

.modal-bottom {
    display: flex;
}
.modal-bottom button {
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    line-height: 0px;
    position: relative;
    display: inline-block;
    padding: .8em;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    color: #3ca374;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0,89,153,0);
    box-shadow: 0 0 0 0 rgba(0,149,255,0);
    color: #3ca374;
    border-color: #75d7aa;
    transition: .5s;
}
.modal-bottom button.close-modal {
    margin-right: auto;
    color: #f04747;
    border-color: rgba(240,71,71,.3);
}
.modal-bottom button.accept-modal.loading {
    /* background-image: url("../imgs/loading.gif");
    background-position: center center;
    background-size: 50px;
    background-repeat: no-repeat; */
}

.help-text {
    color: #87909C;
    font-size: 11px;
    line-height: 13px;
    margin: 15px 0;
    text-align: left;
}

.help-text strong {
    display: block;
}

@keyframes scale-modal {
    0% {
        transform: scale(0.8);
    }
    30% {
        transform: scale(1);
    }
}